<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="nav-logo">
          <h1>Task Manager</h1>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contact" class="contact-us">Contact us</a></li>
          </ul>
            <button id="theme-toggle" class="theme-btn">🌙</button>
        </div>
      </div>
    </nav>
    <main>
      <div class="main-section">
        <div class="main-1">
          <span class="main-head">Todo List</span>
         <a href="/delete-all""> 
          <i class="fa-solid fa-trash"></i>
        </a>
        </div>
        <div class="input-section">
          <form id="taskForm">
          <input type="text" placeholder="eg.Eat,Sleep,Code.." id="taskInput"/>
          <button type="submit" class="add-btn">Add</button>
          </form>
        </div>
         <div class="taskSection">
          <ul id="taskList">
            <% tasks.forEach(t =>{ %> 
              <li> 
  <div class="task-left">
    <input type="checkbox" class="task-check" data-id="<%= t.id %>" <%= t.is_completed ? "checked" : "" %>/>
    <span class="task-text <%= t.is_completed ? 'completed' : '' %>">
      <%= t.title %>
    </span>
  </div>

  <form action="/delete/<%= t.id %>" method="get" style="display:inline;">
    <button type="submit" id="del-btn">Remove</button>
  </form>
</li>

            <% }); %>
          </ul>
         </div>
      </div>
    </main>
    <script src="script.js"></script>
  </body>
</html>
